.header__container {
  width: 100vw;
  height: 80px;
  background-color: #ffff71;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  margin-left: 8px;
}

.left{
  display: flex;
}
.header__title h1 {
    font-weight: 400;
}

.header__title p {
    font-style: italic;
}

.header__logo {
  align-self: center;
  height: 100%;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 10px;
}


.right{
  display: flex;
  flex-direction: column;
  flex: .2;
}

.right p{
      font-style: italic;
}